/* This is a CSS comment*/
body { /* 0,0,0,1 */
    color: cadetblue;
}
/* Change color of all paragraph and list items*/
p, li {
    color: darkslategray;
}
/* Target child elements*/
section h1 {
    Color: red;
}
/*style a class*/

.secondary-heading{ /* 0,0,1,0 */
    color: darkturquoise;
}
/*style an id*/
#main-section { /* 0,1,0,0 */
    color: goldenrod;
}

a{
    color: red;
}
/* LVHA */
a:link {
    color: red;
    text-decoration: none;
}

a:visited {
    color: gray;
}

a:hover {
    color: black;
}

a:active {
    color: white;
}

a[href="http://algonquincollege.com"] {
    color: green;
}
li:nth-child(odd) {
    background-color: gray;
}