/* This is a CSS comment*/
body {
    color: cadetblue;
}
/* Change color of all paragraph and list items*/
p, li {
    color: darkslategray;
}
/* Target child elements*/
section h1 {
    Color: red;
}
/*style a class*/

.secondary-heading{
    color: darkturquoise;
}
/*style an id*/
#main-section {
    color: goldenrod;
}
